<%= link_to 'Back to dealerships', dealerships_path %>

<% flash.each do |type, msg| %>
  <div class="<%= type %>">
    <%= msg %>
  </div>
<% end %>

<h1>
  <%= @dealership.name %>
</h1>
<%= link_to "Create stock item", new_dealership_vehicle_path(@dealership) %>
<table class="styled-table">
  <thead>
    <tr>
      <th>Model</th>
      <th>Manufacturer</th>
      <th>Color</th>
      <th>Price</th>
      <th>Year</th>
      <th>Status</th>
      <th>Quantity</th>
      <% if @current_user.admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.model %></td>
        <td><%= item.manufacturer %></td>
        <td><%= item.color %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= item.year %></td>
        <td><%= item.ownership_status %></td>
        <td><%= item.quantity %></td>
        <% if @current_user.admin? %>
          <td>
            <%= button_to "Delete", dealership_item_path(@dealership, item), method: :delete %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>