<h1>
  New Car
</h1>

<%= form_with model: @vehicle, url: dealership_vehicles_path do |form| %>
  <% if flash[:alert] %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <div>
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer, placeholder: "Manufacturer" %>
  </div>
  <div>
    <%= form.label :model %>
    <%= form.text_field :model, placeholder: "Model" %>
  </div>
   <div>
    <%= form.label :price %>
    <%= form.number_field :price, value: @vehicle.price ? '%.2f' % @vehicle.price : nil, min: 0, step: 0.01 %>
  </div>
  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, placeholder: "Quantity" %>
  </div>
  <div>
    <%= form.label :color %>
    <%= form.text_field :color, placeholder: "Color" %>
  </div>
  <div>
    <%= form.label :year %>
    <%= form.text_field :year, placeholder: "Year" %>
  </div>
  <div>
    <%= form.label :status %>
    <%= form.select :ownership_status,[["New", "new_vehicle"], ["Used", "used_vehicle"]] %>
  </div>
  <div>
    <%= form.submit "Create" %>
  </div>
  
  <div>
  </div>
<% end %>
